<!DOCTYPE html>
<html>
	<head>
		<link type="text/css" rel="stylesheet" href="stylesheet"/>
		<title>edify</title>
	</head>
	<body>
		<center>
			<img class="logo" src="images/edify.png"></img>
		</center>
			<h1><center>Students</center></h1>
		<center>
		<div>
			<form action="demo_form.asp" method="get">
  				<p>Email Address</p> <input class="inputbox" type="text" name="fname"><br>
  				<p>Password</p> <input class="inputbox" type="text" name="lname"><br>
  					
			<p style="text-decoration: underline; margin-top: 7px; margin-bottom: 11px;">Forgot your password?</a></p>
					<input class="signin" type="submit" value="SIGN IN">
			</form>
					<input class="create" type="submit" value="CREATE ACCOUNT">
			
		</div>

<footer>&copy; 2014 edify</footer>
	</body>
</html>
