<!DOCTYPE html>
<html>
	<head>
		<link type="text/css" rel="stylesheet" href="stylesheet"/>
		<title>edify</title>
	</head>
	<body>
		<h1>
		<div>
			<form action="demo_form.asp" method="get">
  				First name: <input type="text" name="fname"><br>
  				Last name: <input type="text" name="lname"><br>
  					<input type="submit" value="Submit">
			</form>
		</div>
	</body>
</html>
