<form action="/class/new" method="post" >
  <input type="text" placeholder="Teacher's Twitter Handle" name="teacherhandle" />
  <input type="text" placeholder="Course Hashtag" name="coursehashtag" />
  <input type="submit" value="submit" />
</form>
