<html>
  <head>
    <link type="text/css" rel="stylesheet" href="feed.css"/>
    <title>Add Class</title>
  </head>
  <body>
    <div class="mid">
      <div class="tab">
        <center>
          <img class="logo" src="images/edify.png">
        </center>

        <h5 style="padding: 7px 10px 7px 10px; float: right;">
          ADD CLASS
        </h5>



      </div>
      <div class="add_class">
          <form action="/class/add" method="post" >
            <input type="text" placeholder="Teacher's Twitter Handle" name="teacherhandle" />
            <input type="text" placeholder="Course Hashtag" name="coursehashtag" />
            <input type="submit" value="submit" />
          </form>


        dghjs,hgdfgk







        </form>
      </div>
    </div>
  </body>
</html>
