<!DOCTYPE html>
<html>

	<head>
		<link type="text/css" rel="stylesheet" href="feed.css"/>
		<title>edify</title>
	</head>

	<body>
		<center>

			<img class="logo" src="images/edify.png" style="width:100px; height:50px;"><div class='add'>
				<h4>ADD CLASS</h4></div>
				<br>
				<a href="https://api.twitter.com/oauth/authorize"></a>
				<div class= "whitebox">
					
						<form action='' post=''>
						</form>

				</div>
			<footer>
				&copy; 2014 edify
			</footer>

		</center>

	</body>

</html>
