<!DOCTYPE html>
<html>
	<body>
		<center>

			<img class="logo" src="images/edify.png" style="width:100px; height:50px;"><div class='add'>
				<h4>ADD CLASS</h4></div>
				<br>
				<a href="https://api.twitter.com/oauth/authorize"></a>
				<div class= "whitebox">
				  <!-- this snippet prints tweets for each course -->
                                  <% @courses.each do |course| %>
                                  <div class="course">
                                    <h2>Course: <%= course.hashtag %></h2>
                                    <h2>Teacher: <%= course.teacher %></h2>
                                    <% @client.search("from:@#{course.teacher} AND ##{course.hashtag}",:result_type => "recent").take(100).each do |tweet| %>
                                    <div class="tweet">
                                      <%= tweet.text %><br/>
                                    </div>
                                    <% end %>
                                    
                                  </div>
                                  <% end %>
                                  <!-- end of snippet -->

						<form action='' post=''>
						</form>

				</div>
			<footer>
				&copy; 2014 edify
			</footer>

		</center>

      </div>
    </div>
  </body>

</html>
