<html>
	<head>
		<link type="text/css" rel="stylesheet" href="feed.css"/>
		<title>edify</title>
	</head>
	<body>
          <% courses.each %>
          <% binding.pry %>
          <% end %>

		<div class="mid">
			<div class="tab">
				<center>
					<img class="logo" src="images/edify.png">
				</center>
				
				<h5 style="padding: 7px 10px 7px 10px; float: right;">
					ADD CLASS
				</h5>



			</div>


			<div class="post">
				dghjs,hgdfgk










			</div>
		</div>
	</body>
</html>
