<!DOCTYPE html>
<html>

	<head>
		<link type="text/css" rel="stylesheet" href="login.css"/>
		<title>edify</title>
	</head>

	<body>
		<center>
			
			<img class="logo" src="images/edify.png">
			<br>
				<p>lorem ipsum</p>
			
				<a href="/auth/twitter"><img class="twitter" src="images/twitter.png"></img></a>
			
			<footer>
				&copy; 2014 edify
			</footer>

		</center>

	</body>

</html>
