<!DOCTYPE html>
<html>

	<head>
		<link type="text/css" rel="stylesheet" href="login.css"/>
		<title>edify</title>
	</head>

	<body>
		<center>

			<img class="logo" src="images/edify.png">
			<br>
				<p>lorem ipsum</p>

				<a href="https://api.twitter.com/oauth/authorize"></a>
				<div class= "whitebox">
					<h1>SIGN IN WITH TWITTER</h1>
			</div>
			<footer>
				&copy; 2014 edify
			</footer>

		</center>

	</body>

</html>
