<!DOCTYPE html>
<html>

	<head>
		<link type="text/css" rel="stylesheet" href="stylesheet"/>
		<title>edify</title>
	</head>

	<body>
		<center>
			
			<img class="logo" src="images/edify.png">
			<br>
			<p>lorem ipsum</p>
			<a href="">
				Login with Twitter
			</a>
			
			<footer>
				&copy; 2014 edify
			</footer>

		</center>

	</body>

</html>
