body {
	background-color:#ffa708;
	color: #000000;
	font-family: arial;
}

footer{
	margin-top: 15%;
}
.logo {
	width: 400px;
	margin-bottom: 70px;
}

p{
	margin-bottom:35px;
}
.twitter{
	width:250px;
}
.whitebox {
	margin-top:-70px;
	width:1350px;
	height:1000px;
	background-color:#fff;
	font-family: 'helvetica neue';
	color: #ffa708;
}
.add {
	float: right;
	margin: 10px 40px 0px 0px;
	background-color: #FFF;
	width: 100px;
	height: 30px;
	padding-bottom: 10px;
	color: #ffa708;
}

h4 {margin-bottom:12px;
}
