body {
	background-color:#ffa708;
	color: #000000;
	font-family: arial;
}

footer{
	margin-top: 15%;
}
.logo {
	width: 400px;
	margin-bottom: 70px;
}

p{
	margin-bottom:35px;
}
.twitter{
	width:250px;
}
.whitebox {
	padding-top:0.1px;
	padding-bottom:5px;
	width:400px;
	height:70px;
  background-color:#fff;
	font-family: 'helvetica neue';
	color: #ffa708;
}
