body {
	background-color:#E0A116;
	color: #ffffff;
	font-family: arial;
}

a:link {
	color: #ffffff;
	font-size: 24px;
	padding: 10px 20px 10px 20px;
	border: 5px #0084FF;
	border-radius: 5px;
	background-color:#0084FF;

}

}
footer{
	margin-top: 15%;
}
img {
	width: 350px;
}
